pyyaml
numpy>=1.24.0
pandas>=1.1
mlflow
filelock>=3.16.0
redis
dill
fire
ruamel.yaml>=0.17.38
python-redis-lock
tqdm
pymongo
loguru
lightgbm
gym
cvxpy
joblib
matplotlib
jupyter
nbconvert
pyarrow
pydantic-settings
setuptools-scm
tables
Cython
packaging
scikit-learn>=1.0.0