accelerate>=1.2.1
coloredlogs>=15.0.1
colorlog>=6.9.0
diffusers>=0.32.2
easydict>=1.13
einops>=0.8.0
hf_transfer>=0.1.8
huggingface-hub>=0.27.1
imageio>=2.33.1
imageio-ffmpeg>=0.5.1
iopath>=0.1.10
matplotlib>=3.10.0
numpy>=1.26.4,<2.0.0
omegaconf>=2.3.0
opencv-python-headless>=4.10.0.84
pillow>=11.1.0
plotly>=5.24.1
plyfile>=1.1
pre_commit>=4.0.1
python-dotenv>=1.0.1
PyYAML>=6.0.2
rich>=13.9.4
rootutils>=1.0.7
safetensors>=0.5.2
scikit-image>=0.25.0
scipy>=1.15.0
protobuf>=4.25.0
sentencepiece>=0.2.0
tiktoken>=0.6.0
six>=1.17.0
tokenizers>=0.21.0
torch>=2.5.1
torchaudio>=2.5.1
torchmetrics>=1.6.1
torchvision>=0.20.1
tqdm>=4.67.1
transformers>=4.48.0
triton>=3.1.0
typer>=0.15.1
typing_extensions>=4.12.2
viser>=0.2.23
filterpy
trimesh
gradio
